# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache directory
.pytest_cache/

# Virtual environment folder
venv/
env/

# VS Code settings folder (optional)
.vscode/

# macOS system files (optional)
.DS_Store
